<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>

    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="author" content="Bartłomiej Szczęśniak">
    <meta name="robots" content="index,follow">


    <title>Wolsung - Skarbiec postaci</title>


    <link rel="shortcut icon" th:href="@{/images/favicon/favicon.ico}" />
    <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" th:href="@{/images/favicon/apple-touch-icon.png}">

    <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" th:href="@{/wolsung/css/plugin.css}" />

    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/wolsung/css/style.css}" />

    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">


    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>


</head>

<body>


<!-- Preloader Start -->
<div class="preloader">
    <div class="rounder"></div>
</div>
<!-- Preloader End -->


<div id="main">
    <div class="container">
        <div class="row">


            <div class="col-md-3">
                <div class="about-fixed">

                    <th:block th:replace="wolsung/menubottom :: menuleft">

                </div>
            </div>


            <div class="col-md-9">
                <div class="col-md-12 page-body">
                    <div class="row">

                        <div class="col-md-12 content-page">


                            <!-- Blog Post Start -->
                            <div class="col-md-12 blog-post">
                                <div class="post-title">
                                    <h1>Wolsung: Magia Wieku Pary</h1>
                                    <table>
                                        <tr>
                                            <td><input class="mini-table-115" type="text" readonly th:value="Autor"></td>
                                            <td><input class="mini-table-115" type="text" readonly th:value="Imię"></td>
                                            <td><input class="mini-table-65" type="text" readonly th:value="Rasa"></td>
                                            <td><input class="mini-table-115" type="text" readonly th:value="Pochodzenie"></td>
                                            <td><input class="mini-table-115" type="text" readonly th:value="Archetyp"></td>
                                            <td><input class="mini-table-115" type="text" readonly th:value="Profesja"></td>
                                            <td><input class="mini-table-55" type="text" readonly th:value="Karta"></td>

                                        </tr>
                                        <div th:each="w : ${wolsung}">
                                            <tr>
                                                <td><a th:href="@{'/wolsung/owner/' + ${w.owner}}"><input class="mini-table-115" type="text" readonly th:value="${w.owner}"></a></td>
                                                <td><input class="mini-table-115" type="text" readonly th:value="${w.name}"></td>
                                                <td><input class="mini-table-65" type="text" readonly th:value="${w.race}"></td>
                                                <td><input class="mini-table-115" type="text" readonly th:value="${w.nationality}"></td>
                                                <td><input class="mini-table-115" type="text" readonly th:value="${w.archetype}"></td>
                                                <td><input class="mini-table-115" type="text" readonly th:value="${w.profession}"></td>

                                                <td><a th:href="@{'/wolsung/' + ${w.id}}"><input class="mini-table-55" type="text" readonly th:value="Karta"></a></td>

                                            </tr>

                                        </div>
                                    </table>
                                </div>


                                <p>

                            </div>


                        </div>

                    </div>


                </div>


                <!-- Footer Start -->
                <th:block th:replace="wolsung/menubottom :: menubot">
                <!-- Footer End -->


            </div>
            <!-- Blog Post (Right Sidebar) End -->

        </div>
    </div>
</div>


<a href="#" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>


<script type="text/javascript" th:src="@{/wolsung/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/wolsung/js/plugin.js}"></script>


<script type="text/javascript" th:src="@{/wolsung/js/scripts.js}"></script>


</body>
</html>
